In [27]:
import pandas as pd
import numpy as np

In [4]:
pd.__version__

'2.0.3'

In [5]:
prices = pd.read_csv('housing.csv')

In [7]:
len(prices.columns)

10

In [8]:
prices.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [10]:
missing_values = prices.isnull().sum()
print(missing_values[missing_values > 0])

total_bedrooms    207
dtype: int64

In [11]:
ocean_proximity_uniques = prices['ocean_proximity'].unique()
print(ocean_proximity_uniques)

['NEAR BAY' '<1H OCEAN' 'INLAND' 'NEAR OCEAN' 'ISLAND']

In [14]:
print(prices[prices['ocean_proximity'] == 'NEAR BAY']['median_house_value'].mean())

259212.31179039303

In [17]:
mean_value = prices['total_bedrooms'].mean()
prices['total_bedrooms'].fillna(mean_value, inplace=True)
print(mean_value, prices['total_bedrooms'].mean())

537.8705525375617 537.8705525375617

In [32]:
on_islands = prices[prices['ocean_proximity'] == 'ISLAND']
on_islands = on_islands[['housing_median_age', 'total_rooms', 'total_bedrooms']]
X = on_islands.values
X

array([[  27., 1675.,  521.],
       [  52., 2359.,  591.],
       [  52., 2127.,  512.],
       [  52.,  996.,  264.],
       [  29.,  716.,  214.]])

In [33]:
XTX = X.T * X
inv_XTX = np.linalg.inv(XTX)
y = np.arr([950, 1300, 800, 1000, 1300])
w = X * XTX * y

ValueError: operands could not be broadcast together with shapes (3,5) (5,3)